
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./index_files/w3.css">
        <link rel="stylesheet" href="./index_files/css">
		<link rel="stylesheet" href="./index_files/font-awesome.min.css">
	</head>
<body>
	<header>
        Web interface final project
    </header>
	
<main>
		<h1>Artificial Intelligence software development</h1>
       
        <h2></h2>
        <div class="form-style-5" >
		<legend> Will you go to courses or not ?</legend>
			<ul>
				<% questions.forEach(function(question){%>
				<div id="containerQuestions">
				<p>
					<label><%= question.enonced %> -------- priority : <%= question.priority %></label>
					<input type="checkbox" name = "quest" value=" <%=question.id %>">
				</p>
				<% }); %>
			</ul>
        </div>
		<button onclick = "process()" value = "submit">Process</button>
        
        
    </div>
        <p id = "result">

        </p>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
		function process(){
		var checked = []
		var checks = document.getElementsByName("quest")
		console.log(checks)
			checks.forEach(element => {
				if(element.checked == true){
					checked.push((element.value).trim());
				}
			});
		$.ajax({
			url : '/process',
			type : "POST",
			dataType : "json",
			contentType: "application/json",
			data : JSON.stringify({"q":checked}),
			success : (msg)=>{
				//console.log("PASSED")
				console.log(msg.conclude);
				var ok = ""
				//console.log(msg.newQuestions)
				msg.newQuestions.sort((a,b)=>{
        return b.priority - a.priority
	})
				//console.log(msg.newQuestions)
				msg.newQuestions.forEach(question => {
					ok += "<p>  <label> "+ question.enonced +" </label> <input type='checkbox' name = 'quest' value= "+question.id+"> </p>"
				});
				document.getElementById("containerQuestions").innerHTML = ok;
				
				if (msg.conclude){
					document.getElementById("result").innerHTML = "YES YOU'RE GOING";
				} else{
					document.getElementById("result").innerHTML = "NO !";
				}
			}
		})
	}

	function writeHTML(questions){
		var ok = ""
		console.log(JSON.stringify(questions))

		questions.forEach(question => {
			ok += "<p>  <label> "+ question.enonced +"  -------- priority : " + question.priority + "</label> <input type='checkbox' name = 'quest' value= "+question.id+"> </p>"
		});
		//console.log(ok)
		return ok
	}
		</script>
</body>
</html>